* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-bar{
    background-color: #1e1e1e;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
   }

.menu-bar ul li{
    width: 110px;
    margin-left: 2px;
    margin-top: 10px;
    padding: 15px;
}

.menu-bar ul li a{
text-decoration: none;
color: #fff;
}

.menu-bar .fa{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: left;
    background: #1e1e1e;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
display: block;
text-position: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 110px;
    padding: 10px;
    border-bottom: 1px double #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
    }

    body {
        height: 100vh;
        background: linear-gradient(23deg,#1e1e1e 26%,transparent 29%),url("https://images.unsplash.com/photo-1562581870-5b61efe35190?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-size: cover;
    }

    .buttons{
         display:flex;
         justify-content:flex-end;
         align-items:center;
         margin-left: -60px;
    }