* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-bar{
    background-color: #1e1e1e;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
   }

.menu-bar ul li{
    width: 110px;
    margin-left: 2px;
    margin-top: 10px;
    padding: 15px;
}

.menu-bar ul li a{
text-decoration: none;
color: #fff;
}

.menu-bar .fa{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: left;
    background: #1e1e1e;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
display: block;
text-position: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 110px;
    padding: 10px;
    border-bottom: 1px double #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
    }