<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<div class="menu-bar">
    <ul>
        <li><a href="/homepage/products/productspage">
            <i class="fa-solid fa-house-user"></i>
            Home</a></li>

        <li><a href="/homepage/products/productspage">
            <i class="fa-brands fa-product-hunt"></i>
            Products</a>

            <div class="sub-menu-1">
                <ul>
                    <li><a href="/homepage/products/macbookspage">Macbooks</a></li>
                    <li><a href="/homepage/products/iphones_client_page">Iphones</a></li>
                </ul>
            </div>

        <li><a href="/homepage/administration">
        <i class="fa-solid fa-user"></i>
        Admin</a>

        <form class="form-signin" method="get" action="/logout">
            <button class="btn btn-primary btn-block" type="submit">Logout</button>
        </form>

    </ul>
</div>
</body>
</html>