<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Macbook Page</title>
</head>
<body>
<h1>Welcome to Macbook Page</h1>

<div class="container">

    <form class="form-signin" method="get" action="/macbooks/get/all/macbooks">
        <button class="btn btn-primary btn-block" type="submit">All Macbooks</button>
    </form>

    <form class="form-signin" method="get" action="/macbooks/find/macbook/by/name">
        <button class="btn btn-primary btn-block" type="submit">Find Specific Macbook</button>
    </form>



<div class="container">


</body>
</html>