<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Administration Page</title>
</head>
<body>

<h1>Users Administration Page</h1>

<form class="form-signin" method="get" action="/registration">
    <button class="btn btn-primary btn-block" type="submit">Add User</button>
</form>

<form class="form-signin" action="/homepage/administration/users_administration/delete/user">
    <button class="btn btn-primary btn-block" type="submit">Delete User</button>
</form>

</body>
</html>
