<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Administration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-color: #1e1e1e;
            color: white;
        }
    </style>
    <title>Users Administration Page</title>
</head>
<body>

<h1>Users Administration Page</h1>

<form class="form-signin" method="get" action="/registration">
    <button class="btn btn-primary btn-block" type="submit">Add User</button>
</form>

<form class="form-signin" action="/homepage/administration/users_administration/delete/user">
    <button class="btn btn-primary btn-block" type="submit">Delete User</button>
</form>

</body>
</html>
